body, div, span, h1, h2, h3, h4, aside, p, main, nav, ul, li {
   margin: 0;
   padding: 0;
   list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    padding: 30px;
    line-height: 150%;
}

h1 {
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    text-align: center;
    margin-bottom: 15px;
}

.header {
    font-weight: bold;
}

.section {
    padding: 15px;
    background-color: steelblue;
    color: white;
    border-radius: 7.5px;
}

.container {
    visibility: visible;
    height: 100vh;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.container.closed {
    visibility: hidden;
    height: 0vh;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.painting-container {
    visibility: hidden;
    height: 0vh;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 0fr 0fr;
}

.painting-container.open {
    visibility: visible;
    height: auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
}

.original-painting-container {
    visibility: hidden;
    height: 100vh;
}

.original-painting-container.open {
    visibility: visible;
    height: 100vh;
}

.painting-color {
    display: inline-block;
    width: 50px;
    height: 50px;
}

#painting-column {
    display: flex;
    justify-content: center;
}

#large-painting {
    border: 15px solid white;
    margin: auto;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}

#gallery-data {
    display: grid;
    grid-gap: 15px;
    grid-template-rows: 40vh 60vh;
}

#map {
    height: 90%;
}

table {
    width: 100%;
}